@use "../abstracts/" as *;
@use "sass:math";

.btn {
  color: $color-white;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-wrap: nowrap;
  line-height: 14px;
  padding: rem-calc(7) rem-calc(18);
  cursor: pointer;
  &--banner {
    background-color: $color-primary;
    padding: rem-calc(10) rem-calc(20);
    font-size: 16px;
  }
  &--primary {
    background-color: $color-primary;
  }
  &--secondary {
    background-color: $color-secondary;
  }
  &--blue {
    background-color: $color-blue;
  }
  &--light,
  &--unpublish {
    background-color: $background-light;
    color: $color-primary;
  }

  &--publish {
    background-color: $color-green;
  }
  &:hover {
    scale: 1.01;
  }
}
