@use "../abstracts/" as *;
@use "sass:math";

.btn {
  color: $color-white;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-wrap: nowrap;
  @include btn-text;
  padding: rem-calc(7) rem-calc(18);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &--banner {
    background-color: $color-primary;
    padding: rem-calc(10) rem-calc(20);
    font-size: rem-calc(16);
  }
  &--primary {
    background-color: $color-primary;
  }
  &--secondary {
    background-color: $color-secondary;
  }
  &--blue {
    background-color: $color-blue;
  }
  &--light {
    background-color: $background-light;
    color: $color-primary;
  }
  &--light-secondary,
  &--publish {
    background-color: $background-gray;
    color: $text-color-base;
  }

  &--unpublish {
    background-color: $color-green;
    color: $text-color-white;
  }
  &--active {
    background-color: $color-secondary;
  }
  &--alert {
    background-color: $color-secondary;
    padding: rem-calc(10) rem-calc(20);
    font-size: rem-calc(18);
  }
  &:hover {
    scale: 1.01;
  }
  &:active {
    scale: 1;
    box-shadow: none;
  }

  &:disabled {
    box-shadow: none;
    opacity: 0.7;
    &:hover {
      scale: 1;
    }
  }
}
