@use "../abstracts/" as *;
@use "sass:math";

// Styling
.slider {
  background-color: $background-normal;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__track {
    display: flex;
    width: calc(250px * 14);
    margin-block: $gutter-base-l;
    &--left {
      animation: scroll 40s linear infinite;
    }
    &--right {
      animation: scroll 40s reverse linear infinite;
    }
    &:hover {
      animation-play-state: paused;
    }
  }

  .slide {
    height: rem-calc(120);
    width: rem-calc(250);
    padding: 0 $gutter-base;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
    img {
      object-fit: cover;
      height: rem-calc(120);
      width: rem-calc(250);
      box-shadow: -7px -5px 10px rgba(0, 0, 0, 0.17);
      -webkit-box-shadow: -7px -5px 10px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: -7px -5px 10px rgba(0, 0, 0, 0.17);
    }
  }
}
