@use "../abstracts/" as *;
@use "sass:math";

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: $background-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter-base;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  @include screenSize(phone) {
    padding: $gutter-base-s;
  }
  &__logo {
    position: relative;
    z-index: 99999;
    a {
      width: rem-calc(150);
      left: 0;
      top: -60px;
      position: absolute;
      @include screenSize(tablet) {
        width: rem-calc(100);
        top: -40px;
      }
    }
  }
  &__nav {
    width: 100%;
  }
  &__title {
    font-family: "Reenie Beanie";
    font-size: rem-calc(30);
    text-decoration: none;
    color: $color-primary;
    margin-left: rem-calc(150);
    margin-right: auto;
    @include screenSize(phone) {
      margin-left: rem-calc(100);
    }
  }
  &__toggle {
    &--artist {
      cursor: pointer;
    }
  }
  &__artist-menu {
    background-color: $color-primary;
    position: absolute;
    top: -300%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $gutter-base;
    padding: $gutter-base;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
    opacity: 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
    a {
      font-family: Roboto;
      font-size: rem-calc(32);
      font-style: normal;
      font-weight: 300;
      text-decoration: none;
      color: $color-white;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
      @include screenSize(phone) {
        font-size: rem-calc(22);
      }
    }
  }
}

.show-menu {
  top: 100%;
  opacity: 1;
}
