@use "../abstracts/" as *;
@use "sass:math";
// Main wrapper for the pages
.page {
  display: none;
  min-height: 100vh;
  padding-top: rem-calc(100);
  background-color: $background-light;
  overflow: hidden;
}
// Landing Page
#landingPage {
  .main-wrapper {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      padding: 0 0 rem-calc(53) 0;
    }
  }

  .polygons-wrapper {
    position: relative;
    height: rem-calc(392);
    width: rem-calc(260);
  }

  .join {
    position: absolute;
    transition: all 0.1s;

    &:hover {
      position: absolute;
      filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
      z-index: 10;
    }
    &--visitor {
      bottom: 0;
    }
    &__content {
      position: absolute;
      height: rem-calc(276);
      width: rem-calc(260);
      display: flex;
      justify-content: center;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      p {
        font-family: "Reenie Beanie", cursive;
        @include heading-1;
      }
      &:hover {
        -moz-transform: scale(1.05) translate(0px, -5px);
        -webkit-transform: scale(1.05) translate(0px, -5px);
        -o-transform: scale(1.05) translate(0px, -5px);
        -ms-transform: scale(1.05) translate(0px, -5px);
        transform: scale(1.05) translate(0px, -5px);
      }
      &--artist {
        top: 0;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 45%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 45%);
        background-color: $background-normal;
        .artist-wrapper {
          position: absolute;
          top: rem-calc(60);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        p {
          color: $color-primary;
        }
      }
      &--visitor {
        bottom: 0;
        -webkit-clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
        background-color: $color-primary;
        p {
          position: absolute;
          bottom: rem-calc(45);
          color: $background-normal;
        }
      }
    }
  }
}

#artist-select {
  width: rem-calc(95);
  height: rem-calc(30);
  border-radius: 2px;
  background: none;
  border: 1px solid $color-primary;
  color: $color-primary;
  @include small-2;
  outline: none;
  transition: all 0.03s ease;
  cursor: pointer;
  option {
    cursor: pointer;
    text-align: left;
    &:first-child {
      text-align: center;
    }
  }
}

// Visitor Home Page
.visitor-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-cta {
    background: url("./src/assets/Bricks.png") center no-repeat;
    background-size: cover;
    min-height: 25vh;
    padding: $gutter-base-l;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    @include screenSize(tablet) {
      padding: $gutter-base;
      width: 95%;
    }
    &__title {
      text-wrap: pretty;
      color: $color-primary;
      font-family: Roboto;
      @include banner;
    }
  }
}

// visitorListing
#visitorListing {
  background-color: $background-normal;
  position: relative;
}
#vistorListingCardContainer {
  display: flex;
  gap: $gutter-base;
  flex-wrap: wrap;
  padding: $gutter-base-l;
  @include screenSize(phone) {
    padding: $gutter-base 0;
  }
}

.filter-icon {
  position: fixed;
  width: rem-calc(65);
  right: rem-calc(18);
  bottom: rem-calc(18);
  cursor: pointer;
}
.filter-form {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding-top: $gutter-base-xl;
}

// Artist Home Page

.artist-home {
  background-color: $background-normal;
  &-total {
    display: flex;
    padding: $gutter-base;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    flex-wrap: wrap;
    text-align: center;
    h4 {
      font-family: Roboto;
      @include heading-2;
      color: $text-color-white;
    }
    p {
      font-family: Roboto;
      font-size: rem-calc(48);
      font-weight: 500;
      @include screenSize(tablet) {
        font-size: rem-calc(36);
      }
    }
    &__sold {
      background-color: $color-primary;
      @include flex-basis("50%", m);
      padding: $gutter-base-s;
      @include screenSize(phone) {
        padding: $gutter-base-xs;
        @include flex-basis("50%", s);
      }
    }
    &__income {
      background-color: $color-primary;
      @include flex-basis("50%", m);
      padding: $gutter-base-s;
      @include screenSize(phone) {
        padding: $gutter-base-xs;
        @include flex-basis("50%", s);
      }
    }
    &__auction {
      display: none;
      background-color: $color-secondary;
      flex-basis: 100%;
      padding: $gutter-base-s;
      text-align: center;
      margin-top: $gutter-base;
    }
  }

  &-chart {
    background-color: $background-light;
    padding: $gutter-base-l $gutter-base-l;
    @include screenSize(phone) {
      padding: $gutter-base-s;
    }
    h2 {
      font-family: Roboto;
      @include heading-2;
      color: $color-primary;
      margin-bottom: $gutter-base;
    }
    &__select {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: $gutter-base-l;
    }
  }
}

// Artist items Page
#artistsItems {
  background-color: $background-normal;
}
.artist-items-wrapper {
  padding: $gutter-base-l;
  @include screenSize(phone) {
    padding: $gutter-base 0;
  }
}
.artist-items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: $gutter-base;
}

.add-new-item {
  display: flex;
  gap: $gutter-base;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $gutter-base;
  background-color: $background-light;
  margin-bottom: $gutter-base;
  @include screenSize(phone) {
    padding: $gutter-base 0;
  }
  &__btn {
    width: 80%;
    color: $color-primary;
    border: 2px dashed $color-primary;
    padding: $gutter-base-l $gutter-base-xl;
    background: none;
    text-align: center;
    cursor: pointer;
    @include screenSize(phone) {
      width: 95%;
      padding: $gutter-base $gutter-base-l;
    }
  }
}
// Edit-New Items Page
#edit-new-item {
  background-color: $color-primary;
}
// Auction Pages
#auction {
  display: flex;
  flex-direction: column;
}

.bidding-timer {
  flex-basis: 100%;
  text-align: center;
  padding: $gutter-base;
  font-size: 20px;
  border-bottom: 2px solid $color-primary;
  &__title {
    color: $color-primary;
  }
  &__time {
    font-size: rem-calc(38);
    color: $color-secondary;
  }
}

.auction-bidding-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $gutter-base;
  @include screenSize(phone) {
    flex-wrap: wrap-reverse;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: $gutter-base;
    border-bottom: 2px solid $color-primary;
    flex-basis: 50%;
    @include screenSize(phone) {
      flex-basis: 100%;
    }
    label {
      flex-basis: 100%;
      font-size: rem-calc(22);
      text-align: center;
      margin-bottom: $gutter-base-s;
      color: $color-primary;
    }
    input {
      outline: none;
      padding: rem-calc(5);
      margin-right: rem-calc(10);
      border-color: $color-primary;
    }
    button {
      outline: none;
      padding: rem-calc(10) rem-calc(20);
      font-size: rem-calc(18);
    }
  }
  &__curent {
    background-color: $color-primary;
    color: $background-light;
    padding-block: $gutter-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;

    @include screenSize(phone) {
      flex-basis: 100%;
    }
    .highest-bid-title {
      font-size: rem-calc(22);
      text-align: center;
      margin-bottom: $gutter-base-xs;
    }
    .highest-bid-price {
      background-color: $background-light;
      color: $color-primary;
      padding: rem-calc(10) rem-calc(30);
      font-size: rem-calc(18);
      width: 80%;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
      margin-bottom: 0;
      li {
        padding: rem-calc(10);
        text-align: left;

        &::before {
          content: "-";
        }
        &.mine {
          background-color: $background-normal;
          color: $color-primary;
          text-align: left;
        }
        &.bidder {
          background-color: $background-gray;
          color: $text-color-base;
          text-align: right;
        }
      }
    }
  }
}

.no-items-box {
  @include absCenter;
  &__mesagge {
    color: $color-primary;
    text-align: center;
    text-wrap: pretty;
    @include heading-1;
  }
}
